@import "_reset"

@mixin transition($transitionValue)
  transition: $transitionValue
  -webkit-transition: $transitionValue
  -moz-transition: $transitionValue
  -ms-transition: $transitionValue
  -o-transition: $transitionValue

header
  text-align: center

  .title
    position: relative
    display: inline-block
    font-family: "Francois One", sans-serif
    font-weight: bold
    text-transform: uppercase
    letter-spacing: 5px
    color: #f00
    text-shadow: 0px 2px 10px #ababab
    margin: 100px 25px 0 25px
    line-height: 1.5em
    @include transition(all 0.3s ease-in-out)

    &:after
      content: ""
      position: absolute
      display: block
      height: 5px
      bottom: -15px
      right: 35%
      left: 35%
      background-color: #000
      @include transition(all 0.3s ease-in-out)

    &:hover
      cursor: pointer

      &:after
        right: 0
        left: 0

svg
  display: block
  margin: 100px auto
  @include transition(all 0.3s ease-in-out)

  &:hover
    cursor: default